@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>
<div style="text-align: center; margin-top: 50px;">
    
    <a href="@Url.Action("Create", "Brand")" class="btn btn-primary">
        Create New Brand
    </a>
</div>
